@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format('opentype');
}
body {
    background-color: lightblue;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    background-image: linear-gradient(180deg, lightblue, #379FA5, #354F50);
    margin: auto;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.38);
}
h1#titulo1 {
    color: white;
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.385);
    }
p#subtitulo {
    color: white;
    font-size: 1em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.385);
}
nav {
    display: flex;
    font-weight: bold;
}
.link {
    height: 2.5em;
    color: white;
    padding: 0em 0.5em 0em 0.5em;
    text-decoration: none;
    font-size: 0.9em;

}
.link:hover {
    background-color: lightblue;
    color: #354F50;
    border-radius: 10px;
    text-decoration: none;
}
h2{
    font-family: idroid;
    font-size: 1.2em;
    color: #354F50;
}
article > p {
    text-align: justify;
    text-indent: 2em;
    
}
main {
    box-sizing: border-box;
    width: 56.25em;
    padding: 0.1em 1em 0em 1em;
    background-color: white;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.389);
}
@media (max-width: 920px) {
    main {
        width: 100%;
    }
    #video {
    }
}
#primeira > h2 {
    background-image: linear-gradient(90deg, lightblue, white);
    text-indent: 1em;
}
#primeira > picture {
    display: block;
    width: 100%;
    text-align: center;
}
#mascote > h2 {
    background-image: linear-gradient(90deg, lightblue, white);
    text-indent: 1em;
}
#mascote > picture {
    display: block;
    width: 100%;
    text-align: center;
}
#mascote > #bugdroid {
    margin: 0% 0% 0% 25%;
    width: 50%;
}
div#video {
    background-color: #354F50;
    width: 100%;
    height: 100%;
    padding: 2% 2% 2% 2%;
    margin: 0% 0% 0% -2%;
}
iframe {
    width: 100%;
    height: 22em;
}
aside {
    background-color: lightblue;
    border-radius: 10px 10px 10px 10px;
    padding: 0% 2% 2% 2%;
    margin: 0% 0% 0% 0%;
    text-align: justify;
    text-indent: 2em;
    box-shadow: 4px 3px 6px -3px rgba(0, 0, 0, 0.379);
}
#tituloaside {
    background-color: #354F50;
    color: white;
    padding: 2% 2% 2% 0%;
    margin: 2% -2% 0% -2%;
    border-radius: 10px 10px 0px 0px;
}
span {
    text-decoration: underline;
}
.verde {
    color: #354F50;
    text-decoration: none;
}
a {
    color: #354F50;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
aside > div {
    display: inline-block;
}
#div2 {
    margin: 0% 0% 0% 30%;
}
@media (max-width: 670px) {
    aside > div {
    display: inline-block;
}
#div2 {
    margin: 0% 0% 0% 20%;
}
}
@media (max-width: 592px) {
    aside > div {
    display: inline-block;
}
#div2 {
    margin: 0% 0% 0% 5%;
}
}
@media (max-width: 500px) {
    aside > div {
    display: inline-block;
}
#div2 {
    margin: 0% 0% 0% 0%;
}
}
#final {
    text-indent: 2em;
    text-align: justify;
    padding: 0% 0% 2% 0%;
}
footer {
    background-color: #354F50;
    padding: 6px;
}
footer > p {
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
    outline: 0px;
}